body {
    background-color: lightgray;
    text-align: center;
    font-family: "Arial", sans-serif;
}
h1 {
    text-align: center;
}

h2 {
    color: purple;
}
table {
    outline: 2px solid purple;
    margin: 0 auto;
}

thead {
    background-color: rgb(252, 181, 252);
}

td {
    border-top: 1px solid purple;
    padding: 0 10px;
}

.code {
    background-color: rgb(255, 255, 153)
}